@media screen and (max-width: 1024px) {
  .container__content {
    &--desc {
      width: 100%;
      padding-left: 3rem;
    }
  }

  .container__navbar--content {
    display: none;
  }

  .footer {
    &__cards {
      & li:nth-child(2) {
        display: none;
      }
      & li:nth-child(3) {
        display: none;
      }
      & li:nth-child(4) {
        display: none;
      }
    }
  }
}
