@media screen and (max-width: 768px) {
  .container__navbar {
    padding: 0;
  }
  .container__navbar--search__logos--card {
    &:hover &__desc {
      display: none;
    }
  }

  .container__testimonial--cards {
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}
